*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    align-items: center;
    background-color: #ffd54f;
    display: flex;
    justify-content: center;
    font-family: -apple-system, 
      BlinkMacSystemFont, 
      "Segoe UI", 
      Roboto, 
      Oxygen-Sans, 
      Ubuntu, 
      Cantarell, 
      "Helvetica Neue", 
      sans-serif;
}

#wrapper {
    padding: 100px;
    border-radius: 30px;
    background-color: #ffffff;
}

#chrono {
    text-align: center;
    font-size: 100px;
    margin-bottom: 30px;
}

button{
    font-size: 25px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
